{
	"plugins": ["@prettier/plugin-oxc", "@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 110,
	"semi": true,
	"singleQuote": true,
	"bracketSpacing": true,

	"importOrder": [
		"<BUILTIN_MODULES>",
		"^bun(?::(.*))?$",
		"",
		"^@atcute/(.*)$",
		"^@danaus/(.*)$",
		"^@kelinci/(.*)$",
		"^@oomfware/(.*)$",
		"",
		"<THIRD_PARTY_MODULES>",
		"",
		"^#app/(.*)$",
		"^#frontend/(.*)$",
		"",
		"^\\.\\.",
		"",
		"^\\."
	],
	"importOrderTypeScriptVersion": "5.0.0",

	"tailwindStylesheet": "./packages/danaus/src/web/styles/main.css",
	"tailwindFunctions": ["cva", "cn"],

	"overrides": [
		{
			"files": ["tsconfig.json", "jsconfig.json"],
			"options": {
				"parser": "jsonc"
			}
		},
		{
			"files": ["*.md"],
			"options": {
				"printWidth": 100,
				"proseWrap": "always"
			}
		}
	]
}
